name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type "destroy" to confirm teardown of all infrastructure'
        type: string
        required: true

permissions:
  id-token: write
  contents: read
  issues: write

jobs:
  destroy:
    uses: ShrithikShahapure/reuseable-actions/.github/workflows/terraform-destroy.yml@main
    with:
      confirm: ${{ inputs.confirm }}
      terraform_dir: 'terraform'
      aws_region: 'us-east-1'
      approvers: 'ShrithikShahapure'
    secrets:
      AWS_ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-ci-role
